/* Tabbed Links ---------------------------------------*/
.tab_content {
	position:absolute; top:37px; left:0px; right: 0px; bottom: 0px;
	margin:0 0 0 0;
	color: #fff;
	overflow:visible;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.tabs {
	position:absolute;
	top: 5px;
	left: 0px;
	padding-left: 0px;
	margin: 0 0 0 0;
	list-style: none;
	width: 100%;
	border: #888888 solid;
	border-width: 0 0 2px 0;
}
.tabs li,
.tabs a {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

.tabs li {
	background: #A31919;
	border: 1px solid #4C0000;
	border-bottom-width: 0;
	display: inline;
	float: left;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}

.tabs a {
	border-bottom-width: 0;
	color: #fff;
	display: block;
	padding: 7px;
	font-size: 15px;
	text-decoration: none;
}

.tabs a:hover {
	background: #CD0000;
	border-color: #A31919;
	color: #fff;
}

.tabs a.current {
    background: #888888;
    border-color: #4C0000;
    color: #fff;
}
